body{
    background-color:#feffdf;
    
}

/*---------Section 1---------*/

.section-1{
    display:flex;
    flex-direction: column;
    border-bottom:solid #dde0ab  ;
    border-width: 10px;
    border-radius: 10px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#feffdf ;
    border-bottom:solid #dde0ab  ;
    border-width: 10px;
    border-radius: 10px;
}


.logo{
    display: flex;
    
}


.logo>h1{
    margin: 55px;
    font-family: palatino;
    font-size: 60px;
    color:#668ba4 ;
    text-shadow: 1px 1px 2px black;
    padding-top:40px;
    
}

.navbar-list{
    list-style:none;
    display: flex;
    gap: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-family: palatino;
    font-size: 20px;
    
}


a{
    text-decoration: none;
    color: black;
}


a:hover{
    color: #97cba9 ;
}


.camera-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
    padding-left: 25px;
    padding-top: 100px;
    font-size: 20px;
    font-family: palatino;


}


.center{
    background-color: #89b498; 
    border-radius: 10px;
    width: 700px;
    display: flex;
    justify-content: center;
   
}


.center>h2{
    font-size: 45px;
    color:#252B48 ;
    margin-left: 20px;
    text-shadow: 2px 2px #feffdf;
    
}

.center>p{
    font-size:25px ;
    margin-top: 2px ;
    margin-left: 20px;
   
}

.img-1>img{
    border: 4px solid  ;
    border-radius: 4px;
    border-color: #89b498;
    max-width: 100%;
    height: auto;
    
}

/*---------Section2---------*/

.section-2{
    display: flex;
    border-bottom:solid #dde0ab  ;
    border-width: 10px;
    border-radius: 10px;

}

.left-side-2{
display: flex;
}



.spezifications-list{
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    gap: 10px;
    font-family: palatino;
    
    
}

h3{
    margin-left: 220px;
    font-size: 40px;
    font-family: palatino;
    color: #2d7245;
    text-shadow:2px 2px #dde0ab;
}

/*---------section-3---------*/

.heading-section-3>h4{
    font-size: 60px;
    font-family: palatino;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 0px;
    color: #2d7245;
    text-shadow:2px 2px #dde0ab;
}

.gallery>div>img{
    width: 300px;
}

.gallery>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-radius: 10px;
    padding: 20px;
    border-color: #dde0ab;
}


.gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    font-family: palatino;
    font-size:18px;
    color: #2d7245;
    
}

/*---------Footer---------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89b498;
    border-radius: 8px;
}

.footer-left>img{
    border: 6px solid;
    border-radius: 10px;
    border-color: #dde0ab;
    display: flex;
    
}

.footer-right{
    padding-right: 500px;
    font-size: 25px;
    font-family: palatino;
    color: #dde0ab;
    
}

.footer-right>p>a{
    color:#feffdf;
}